/*<style type="text/css">*/
        .vue-modal-resizer {
            display: block;
            overflow: hidden;
            position: absolute;
            width: 12px;
            height: 12px;
            right: 0;
            bottom: 0;
            z-index: 9999999;
            background: transparent;
            cursor: se-resize;
        }

        .vue-modal-resizer::after {
            display: block;
            position: absolute;
            content: '';
            background: transparent;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border-bottom: 10px solid #ddd;
            border-left: 10px solid transparent;
        }

        .vue-modal-resizer.clicked::after {
            border-bottom: 10px solid #369be9;
        }
    /*</style>*/
    /*<style type="text/css">*/
        .v--modal-block-scroll {
            overflow: hidden;
            width: 100vw;
        }

        .v--modal-overlay {
            position: fixed;
            box-sizing: border-box;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.2);
            z-index: 999;
            opacity: 1;
        }

        .v--modal-overlay.scrollable {
            height: 100%;
            min-height: 100vh;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .v--modal-overlay .v--modal-background-click {
            width: 100%;
            min-height: 100%;
            height: auto;
        }

        .v--modal-overlay .v--modal-box {
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
        }

        .v--modal-overlay.scrollable .v--modal-box {
            margin-bottom: 2px;
        }

        .v--modal {
            background-color: white;
            text-align: left;
            border-radius: 3px;
            box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
            padding: 0;
        }

        .v--modal.v--modal-fullscreen {
            width: 100vw;
            height: 100vh;
            margin: 0;
            left: 0;
            top: 0;
        }

        .v--modal-top-right {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .overlay-fade-enter-active,
        .overlay-fade-leave-active {
            transition: all 0.2s;
        }

        .overlay-fade-enter,
        .overlay-fade-leave-active {
            opacity: 0;
        }

        .nice-modal-fade-enter-active,
        .nice-modal-fade-leave-active {
            transition: all 0.4s;
        }

        .nice-modal-fade-enter,
        .nice-modal-fade-leave-active {
            opacity: 0;
            transform: translateY(-20px);
        }
    /*</style>*/
    /*<style type="text/css">*/
        .vue-dialog div {
            box-sizing: border-box;
        }

        .vue-dialog .dialog-flex {
            width: 100%;
            height: 100%;
        }

        .vue-dialog .dialog-content {
            flex: 1 0 auto;
            width: 100%;
            padding: 15px;
            font-size: 14px;
        }

        .vue-dialog .dialog-c-title {
            font-weight: 600;
            padding-bottom: 15px;
        }

        .vue-dialog .dialog-c-text {}

        .vue-dialog .vue-dialog-buttons {
            display: flex;
            flex: 0 1 auto;
            width: 100%;
            border-top: 1px solid #eee;
        }

        .vue-dialog .vue-dialog-buttons-none {
            width: 100%;
            padding-bottom: 15px;
        }

        .vue-dialog-button {
            font-size: 12px !important;
            background: transparent;
            padding: 0;
            margin: 0;
            border: 0;
            cursor: pointer;
            box-sizing: border-box;
            line-height: 40px;
            height: 40px;
            color: inherit;
            font: inherit;
            outline: none;
        }

        .vue-dialog-button:hover {
            background: rgba(0, 0, 0, 0.01);
        }

        .vue-dialog-button:active {
            background: rgba(0, 0, 0, 0.025);
        }

        .vue-dialog-button:not(:first-of-type) {
            border-left: 1px solid #eee;
        }
    /*</style>*/
    
    /*<style type="text/css">*/
        #app {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #333
        }

        #app,
        html {
            height: 100%
        }

        html {
            font-size: var(--font-size)
        }

        @media (max-width:375px) {
            html {
                font-size: calc(var(--font-size) * 375 / 400)
            }
        }

        @media (max-width:360px) {
            html {
                font-size: calc(var(--font-size) * 360 / 400)
            }
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background: #313131
        }

        body.modal-open {
            overflow: hidden
        }

        h1,
        h2 {
            font-weight: 400
        }

        ul {
            list-style-type: none;
            padding: 0
        }

        li {
            display: inline-block;
            margin: 0 10px
        }

        a {
            color: var(--primary-color)
        }

        br {
            font-family: initial
        }

        img {
            -webkit-touch-callout: none
        }
    /*</style>*/
    /*<style type="text/css">*/
        .mcard-view {
            position: relative;
            width: 100%;
            max-width: 420px;
            padding: 0;
            margin: auto;
            background: var(--primary-bg-color);
            line-height: 2rem;
            font-family: var(--font-regular), serif;
            letter-spacing: var(--font-regular-spacing)
        }

        .m-title {
            letter-spacing: .5px;
            font-size: 1.3rem
        }

        .m-subtitle,
        .m-title {
            color: var(--primary-color)
        }

        .m-subtitle {
            letter-spacing: .18rem;
            font-size: .5rem
        }

        .m-subtitle img {
            height: 1.5rem
        }

        .gothic {
            font-family: var(--font-gothic), BlinkMacSystemFont, Apple SD Gothic Neo, Helvetica Neue, Helvetica, Arial, Malgun Gothic, "\B9D1\C740   \ACE0\B515", Dotum, 돋움, sans-serif;
            letter-spacing: var(--font-gothic-spacing)
        }

        .c-bold {
            font-family: var(--font-bold);
            font-weight: var(--font-bold-weight)
        }

        button {
            font-family: var(--font-gothic)
        }

        .img-blur {
            filter: blur(var(--img-blur));
            -webkit-filter: blur(var(--img-blur))
        }
    /*</style>*/
    /*<style type="text/css">*/
        .fade-in {
            transition: all .8s ease-out;
            box-sizing: border-box
        }
    /*</style>*/
    /*<style type="text/css">*/
        .audio-player {
            position: absolute;
            top: 12px;
            right: 20px
        }

        .audio-alert {
            font-size: 12px;
            line-height: 0
        }

        .audio-alert div {
            display: inline-block;
            vertical-align: middle
        }

        .audio-alert svg {
            width: 16px;
            height: 16px;
            fill: #777;
            cursor: pointer
        }

        .slide-fade-enter-active {
            transition: all .8s ease
        }

        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1, .5, .8, 1)
        }

        .slide-fade-enter,
        .slide-fade-leave-to {
            transform: translateY(-20px);
            opacity: 0
        }
    /*</style>*/
    /*<style type="text/css">*//*</style>*/
    /*<style type="text/css">*/
        .c-wartermark[data-v-277ec1eb] {
            background: #ffe645;
            padding: 20px 0;
            line-height: 26px;
            font-size: 13px;
            font-weight: 700
        }

        .c-wartermark>span[data-v-277ec1eb] {
            font-size: 15px;
            color: #ec5720;
            margin-top: 10px
        }

        .c-wartermark a[data-v-277ec1eb] {
            position: relative;
            display: inline-block;
            padding: 2px 8px 0;
            text-decoration: none;
            color: #fff;
            background: #f56d3a;
            border-bottom: 2px solid #d27d00;
            border-radius: 4px;
            box-shadow: inset 0 2px 0 hsla(0, 0%, 100%, .2), 0 2px 2px rgba(0, 0, 0, .19);
            font-weight: 700
        }

        .btn-blink[data-v-277ec1eb] {
            animation: blinker-data-v-277ec1eb 1.2s linear infinite
        }

        @keyframes blinker-data-v-277ec1eb {
            50% {
                background-color: #f5b33a;
                border-color: #e8a50d;
                color: #fff
            }
        }
    /*</style>*/
    /*<style type="text/css">*/
        .mcard-intro[data-v-39666873] {
            margin: 0 0 40px;
            background: #fff;
            --wave-color: #fff
        }

        .mcard-intro .title[data-v-39666873] {
            padding: 3rem 1rem;
            display: flex;
            background: #fff;
            font-size: 1.1rem
        }

        .mcard-intro .title .groom[data-v-39666873] {
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column
        }

        .mcard-intro .title .date[data-v-39666873] {
            flex: 1;
            height: 3.75rem;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center
        }

        .mcard-intro .title .date .month[data-v-39666873] {
            align-self: flex-start
        }

        .mcard-intro .title .date .divider[data-v-39666873] {
            text-align: center;
            width: 12px
        }

        .divider2[data-v-39666873] {
            margin: 0 auto;
            width: .5px;
            height: 60px;
            background-color: #424242;
            transform: rotate(45deg)
        }

        .mcard-intro .title .date .day[data-v-39666873] {
            align-self: flex-end
        }

        .mcard-intro .title .bride[data-v-39666873] {
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column
        }

        .mcard-intro .date-place[data-v-39666873] {
            padding: 3rem 0;
            background: #fff;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, .05);
            text-shadow: -1px -1px 0 #fff
        }

        .mcard-intro .photo[data-v-39666873] {
            line-height: 0
        }

        .mcard-intro .photo img[data-v-39666873] {
            width: 100%
        }
    /*</style>*/
    /*<style type="text/css">*/
        .intro-blend-wrap[data-v-0789f5fe] {
            position: relative;
            overflow: hidden;
            line-height: 0
        }

        .intro-blend-image[data-v-0789f5fe] {
            position: relative;
            width: 100%;
            height: 100%;
            pointer-events: none
        }

        .intro-blend-video[data-v-0789f5fe] {
            display: none;
            position: absolute;
            mix-blend-mode: screen;
            left: 0;
            top: 0;
            width: 100%
        }

        @supports (display:grid) {
            .intro-blend-video[data-v-0789f5fe] {
                display: block
            }
        }

        .gradient-s[data-v-0789f5fe] {
            -webkit-mask-image: linear-gradient(180deg, transparent, #000 3%, #000 97%, transparent);
            mask-image: linear-gradient(180deg, transparent, #000 3%, #000 97%, transparent)
        }

        .gradient-s-bottom[data-v-0789f5fe] {
            -webkit-mask-image: linear-gradient(180deg, #000 97%, transparent);
            mask-image: linear-gradient(180deg, #000 97%, transparent)
        }

        .gradient-m[data-v-0789f5fe] {
            -webkit-mask-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .013) 1.1%, rgba(0, 0, 0, .049) 2.3%, rgba(0, 0, 0, .104) 3.58%, rgba(0, 0, 0, .175) 4.94%, rgba(0, 0, 0, .259) 6.34%, rgba(0, 0, 0, .352) 7.78%, rgba(0, 0, 0, .45) 9.26%, rgba(0, 0, 0, .55) 10.74%, rgba(0, 0, 0, .648) 12.22%, rgba(0, 0, 0, .741) 13.66%, rgba(0, 0, 0, .825) 15.06%, rgba(0, 0, 0, .896) 16.42%, rgba(0, 0, 0, .951) 17.7%, rgba(0, 0, 0, .987) 18.9%, #000 20%, #000 80%, rgba(0, 0, 0, .987) 81.1%, rgba(0, 0, 0, .951) 82.3%, rgba(0, 0, 0, .896) 83.58%, rgba(0, 0, 0, .825) 84.94%, rgba(0, 0, 0, .741) 86.34%, rgba(0, 0, 0, .648) 87.78%, rgba(0, 0, 0, .55) 89.26%, rgba(0, 0, 0, .45) 90.74%, rgba(0, 0, 0, .352) 92.22%, rgba(0, 0, 0, .259) 93.66%, rgba(0, 0, 0, .175) 95.06%, rgba(0, 0, 0, .104) 96.42%, rgba(0, 0, 0, .049) 97.7%, rgba(0, 0, 0, .013) 98.9%, transparent);
            mask-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .013) 1.1%, rgba(0, 0, 0, .049) 2.3%, rgba(0, 0, 0, .104) 3.58%, rgba(0, 0, 0, .175) 4.94%, rgba(0, 0, 0, .259) 6.34%, rgba(0, 0, 0, .352) 7.78%, rgba(0, 0, 0, .45) 9.26%, rgba(0, 0, 0, .55) 10.74%, rgba(0, 0, 0, .648) 12.22%, rgba(0, 0, 0, .741) 13.66%, rgba(0, 0, 0, .825) 15.06%, rgba(0, 0, 0, .896) 16.42%, rgba(0, 0, 0, .951) 17.7%, rgba(0, 0, 0, .987) 18.9%, #000 20%, #000 80%, rgba(0, 0, 0, .987) 81.1%, rgba(0, 0, 0, .951) 82.3%, rgba(0, 0, 0, .896) 83.58%, rgba(0, 0, 0, .825) 84.94%, rgba(0, 0, 0, .741) 86.34%, rgba(0, 0, 0, .648) 87.78%, rgba(0, 0, 0, .55) 89.26%, rgba(0, 0, 0, .45) 90.74%, rgba(0, 0, 0, .352) 92.22%, rgba(0, 0, 0, .259) 93.66%, rgba(0, 0, 0, .175) 95.06%, rgba(0, 0, 0, .104) 96.42%, rgba(0, 0, 0, .049) 97.7%, rgba(0, 0, 0, .013) 98.9%, transparent)
        }

        .gradient-m-bottom[data-v-0789f5fe] {
            -webkit-mask-image: linear-gradient(180deg, #000 80%, rgba(0, 0, 0, .987) 81.1%, rgba(0, 0, 0, .951) 82.3%, rgba(0, 0, 0, .896) 83.58%, rgba(0, 0, 0, .825) 84.94%, rgba(0, 0, 0, .741) 86.34%, rgba(0, 0, 0, .648) 87.78%, rgba(0, 0, 0, .55) 89.26%, rgba(0, 0, 0, .45) 90.74%, rgba(0, 0, 0, .352) 92.22%, rgba(0, 0, 0, .259) 93.66%, rgba(0, 0, 0, .175) 95.06%, rgba(0, 0, 0, .104) 96.42%, rgba(0, 0, 0, .049) 97.7%, rgba(0, 0, 0, .013) 98.9%, transparent);
            mask-image: linear-gradient(180deg, #000 80%, rgba(0, 0, 0, .987) 81.1%, rgba(0, 0, 0, .951) 82.3%, rgba(0, 0, 0, .896) 83.58%, rgba(0, 0, 0, .825) 84.94%, rgba(0, 0, 0, .741) 86.34%, rgba(0, 0, 0, .648) 87.78%, rgba(0, 0, 0, .55) 89.26%, rgba(0, 0, 0, .45) 90.74%, rgba(0, 0, 0, .352) 92.22%, rgba(0, 0, 0, .259) 93.66%, rgba(0, 0, 0, .175) 95.06%, rgba(0, 0, 0, .104) 96.42%, rgba(0, 0, 0, .049) 97.7%, rgba(0, 0, 0, .013) 98.9%, transparent)
        }
    /*</style>*/
    /*<style type="text/css">*//*</style>*/
    /*<style type="text/css">*/
        .greetings-wrap {
            margin: 1px 0;
            padding: 3rem 0
        }

        .greetings-wrap .subtitle {
            letter-spacing: 5px;
            font-size: .8rem;
            color: var(--primary-color)
        }

        .greetings-wrap .title {
            color: var(--primary-color);
            font-size: 1.2rem;
            letter-spacing: 1px
        }

        .greetings-wrap .text {
            margin: 2rem 1rem 1.2rem;
            font-size: .9rem
        }

        .greetings-wrap .image {
            overflow: hidden
        }

        .greetings-wrap .image img {
            display: block;
            width: 100%;
            margin: 3rem 0 0;
            pointer-events: none
        }

        .greetings-title {
            padding-bottom: 1.5rem
        }

        .members-wrap {
            padding: 1.2rem 0;
            border-left: 0;
            border-right: 0;
            letter-spacing: 1px;
            background: rgba(140, 117, 93, .07)
        }

        .members-wrap .relation {
            font-size: .8rem;
            color: #8a857f
        }

        .members-wrap .relation>span:last-child {
            display: inline-block;
            min-width: 2rem;
            text-align: center
        }

        .members-wrap .deceased {
            font-size: 10px;
            font-family: san-serif;
            vertical-align: middle
        }

        .members-wrap .deceased .hanja:before {
            display: inline-block;
            content: "\6545";
            width: 6px
        }

        .members-wrap .deceased .flower {
            position: relative;
            top: -1px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("/mcard/assets/images/icon_flower_chrys_w32.png");
            background-size: contain;
            vertical-align: middle
        }

        .phone-circle {
            display: inline-block;
            line-height: 0;
            vertical-align: middle;
            cursor: pointer;
            text-align: center
        }

        .phone-circle svg {
            width: 1.125rem;
            height: 1.125rem;
            margin-top: -2px;
            fill: var(--primary-color)
        }

        .contact-wrap {
            margin: 1.5rem 0 0
        }

        .contact-wrap .subtitle {
            padding: 10px;
            border: 1px solid #eee
        }

        .contact-box {
            margin: 0 auto;
            max-width: 260px;
            color: var(--primary-color);
            border: 1px solid var(--primary-color);
            border-radius: 4px;
            text-align: center;
            font-size: .8rem;
            cursor: pointer;
            letter-spacing: 0
        }
    /*</style>*/
    /*<style type="text/css">*//*</style>*/
    /*<style type="text/css">*/
        .calendar-wrap {
            margin: 1px 0;
            padding: 3rem 0
        }

        .calendar-wrap .title {
            margin-bottom: 20px
        }

        .dday-wrap {
            margin: 20px auto;
            font-size: .9rem
        }

        .dday-wrap .highlight {
            color: #ea7664
        }

        .c-calendar {
            padding: 0 1rem;
            margin: 0 var(--calendar-margin-lr);
            border: 1px solid hsla(8, 26%, 54%, .3);
            border-left: 0;
            border-right: 0
        }

        .c-calendar-table {
            padding: 1.5rem 0
        }

        .c-calendar-table>tbody tr td:first-child,
        .c-calendar-table>thead tr th:first-child {
            color: #c6472b !important
        }

        .c-calendar-eday>div {
            background: var(--primary-color)
        }
    /*</style>*/
    /*<style type="text/css">*/
        .c-calendar-table {
            margin: auto;
            width: 100%;
            font-size: .875rem;
            line-height: 2.375rem
        }

        .c-calendar-table>thead tr th {
            font-weight: unset
        }

        .c-calendar-holiday,
        .c-calendar-table>tbody tr td:first-child,
        .c-calendar-table>thead tr th:first-child {
            color: #c6472b
        }

        .c-calendar-eday {
            color: #fff;
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center
        }

        .c-calendar-eday>div {
            margin: auto;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px
        }
    /*</style>*/
    /*<style type="text/css">*/
        .gallery-wrap {
            margin: 1px 0;
            padding: 3rem 0
        }

        .gallery-wrap .title {
            color: var(--primary-color);
            font-size: 1.5rem;
            letter-spacing: 1px
        }

        .gallery-wrap .subtitle {
            letter-spacing: 5px;
            font-size: .5rem;
            color: var(--primary-color)
        }

        .gallery-square {
            margin: 0 4px
        }

        .gallery-square .item {
            width: calc(33.3% - 8px);
            margin: 4px
        }

        .gallery-more-button {
            padding: 4px 20px;
            border-radius: 4px;
            color: var(--primary-color)
        }

        .gallery-more-button>div {
            border-bottom: 1px solid var(--primary-color);
            border-right: 1px solid var(--primary-color)
        }
    /*</style>*/
    /*<style type="text/css">*/
        .gallery-container {
            margin: 40px 0 0
        }
    /*</style>*/
    /*<style type="text/css">*/
        .carousel-wrap {
            margin: 0;
            position: relative
        }

        .carousel-zoom-in {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 104
        }

        .carousel-arrow {
            position: absolute;
            width: 48px;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center
        }

        .carousel-arrow svg {
            z-index: 101;
            cursor: pointer;
            width: 1.3rem;
            height: 1.3rem;
            fill: hsla(0, 0%, 100%, .9);
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
            margin: 0 auto
        }

        .carousel-arrow .arrow[direction=left] {
            left: 10px
        }

        .carousel-arrow .arrow[direction=right] {
            right: 10px
        }

        .carousel-card {
            width: 100%
        }

        .carousel-card>div {
            height: 100%;
            display: flex;
            align-items: center
        }

        .carousel-card>div>img {
            width: 100%;
            pointer-events: none
        }

        .carousel-card .image {
            width: 100%;
            height: 500px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain
        }

        .dot-wrap {
            margin: 20px auto 0;
            text-align: center
        }

        .dot-indicator {
            display: inline-block;
            content: "";
            margin: 3px;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #ccc
        }

        .dot-indicator[active=true] {
            background: #e6a79d
        }
    /*</style>*/
    /*<style type="text/css">*/
        .map-wrap {
            margin: 1px 0;
            padding: 3rem 0
        }

        .map-wrap svg {
            width: 1.6rem;
            height: 1.6rem;
            fill: var(--primary-color)
        }

        .waytocome-wrap {
            padding: 0 var(--waytocome-margin-lr);
            text-align: left
        }

        .waytocome-wrap .box {
            margin-top: 20px
        }

        .waytocome-wrap .title {
            font-size: 1rem;
            color: var(--primary-color)
        }

        .waytocome-wrap .title:before {
            display: inline-block;
            content: "";
            height: 4px;
            border-radius: 5px;
            background: var(--primary-color);
            vertical-align: middle
        }

        .waytocome-wrap .content {
            font-size: .85rem;
            line-height: 1.6rem;
            white-space: pre-wrap
        }

        .waytocome-wrap .content p {
            margin-block-end: .7rem;
            margin-block-start: .7rem
        }

        .map-image-wrap {
            width: 100%
        }

        .map-image-wrap img {
            display: block;
            margin: auto;
            width: 100%
        }

        .location-wrap {
            margin: 40px 0 20px
        }

        .location-hall {
            color: #000
        }

        .location-address {
            font-size: .95rem;
            color: #797979
        }

        .c-map-tools {
            background: var(--secondary-color);
            color: #fff;
            font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, Helvetica Neue, Helvetica, Arial, Malgun Gothic, "\B9D1\C740   \ACE0\B515", Dotum, 돋움, sans-serif;
            letter-spacing: -.2px
        }
    /*</style>*/
    /*<style type="text/css">*/
        #map {
            margin: auto;
            width: 100%;
            height: 240px
        }
    /*</style>*/
    /*<style type="text/css">*/
        .c-map-tools {
            text-align: left;
            padding: 4px 20px;
            display: flex
        }

        .c-map-tools>.button {
            flex: 1;
            cursor: pointer;
            text-align: center
        }

        .c-map-tools>.button>span {
            vertical-align: middle;
            font-size: .75rem
        }

        .c-map-tools svg {
            width: 14px;
            height: 14px;
            fill: #525252;
            vertical-align: middle
        }

        .c-map-navi {
            text-align: left;
            padding: 6px 10px;
            display: flex;
            background: var(--secondary-bg-color);
            color: #000;
            font-size: .8rem;
            height: 1.8rem
        }

        .c-map-navi>div {
            flex: 1.2;
            margin: auto;
            height: 1.1rem;
            line-height: 1.1rem;
            border-right: 1px solid rgba(97, 80, 67, .15);
            text-align: center;
            cursor: pointer
        }

        .c-map-navi>div:last-child {
            flex: 1;
            border-right: 0
        }

        .c-map-navi>span {
            display: inline-block;
            background: rgba(97, 80, 67, .15);
            font-size: 16px;
            width: 1px;
            height: 1.1rem;
            margin: .45rem 0
        }

        .c-map-navi img {
            position: relative;
            top: -1px;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 4px;
            border-radius: 16%
        }
    /*</style>*/
    /*<style type="text/css">*/
        .rsvp-wrap {
            margin: 1px 0;
            padding: 40px 0
        }

        .rsvp-wrap .card {
            margin: 0 var(--notice-margin-lr);
            padding: 1.4rem 1rem 1.8rem;
            background: hsla(0, 0%, 100%, .75);
            border: 6px solid transparent;
            box-shadow: inset 0 0 0 1px #e4e4e4;
            box-sizing: border-box
        }

        .rsvp-wrap .title {
            position: relative;
            color: var(--primary-color);
            font-size: 1rem;
            margin-bottom: 1rem
        }

        .rsvp-wrap .text {
            font-size: .9rem;
            line-height: 1.6rem;
            margin-bottom: 1.1rem
        }

        .rsvp-wrap .btn {
            display: inline-block;
            text-decoration: none;
            height: 2.4rem;
            line-height: 2.4rem;
            padding: 0 30px;
            background: var(--secondary-color);
            border: 0;
            border-radius: 32px;
            font-size: .86rem;
            font-weight: 400;
            color: #fff;
            cursor: pointer
        }

        .rsvp-dialog {
            border-radius: 12px
        }

        .rsvp-modal-wrap {
            display: flex;
            text-align: left;
            background: #fff;
            font-size: 1rem;
            color: #544f4d
        }

        .rsvp-header {
            padding: 20px 24px 0;
            font-weight: 700
        }

        .rsvp-header .btn-close {
            float: right;
            cursor: pointer;
            margin: -1px 0 0 16px
        }

        .rsvp-header .btn-close svg {
            width: 12px;
            height: 12px;
            vertical-align: middle
        }

        .rsvp-modal-inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 20px 24px 28px
        }

        .rsvp-modal-inner table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%
        }

        .rsvp-modal-inner th {
            vertical-align: middle;
            font-size: .9rem;
            font-weight: 500;
            height: 45px
        }

        .rsvp-modal-inner td input {
            border: none;
            padding: 0 10px;
            width: calc(100% - 20px);
            height: 40px;
            font-weight: 300;
            color: #000;
            font-size: .85rem;
            font-weight: 400;
            outline: none;
            background: #f9f9f9;
            appearance: none;
            -webkit-appearance: none;
            border-radius: none;
            -webkit-border-radius: 0;
            letter-spacing: var(--font-gothic-spacing)
        }

        .rsvp-modal-inner td input::placeholder {
            color: #aaa;
            opacity: 1
        }

        .rsvp-modal-inner td input:-ms-input-placeholder,
        .rsvp-modal-inner td input::-ms-input-placeholder {
            color: #aaa
        }

        .rsvp-modal-inner .radio input[type=radio] {
            display: none
        }

        .rsvp-modal-inner .radio div {
            width: calc((100% - 4px) / 2);
            margin-right: 4px;
            float: left
        }

        .rsvp-modal-inner .dine div {
            width: calc((100% - 8px) / 3);
            margin-right: 4px
        }

        .rsvp-modal-inner .dine div:last-child {
            margin-right: 0
        }

        .rsvp-modal-inner .radio div:last-child {
            float: right;
            margin-right: 0
        }

        .rsvp-modal-inner .radio label {
            text-align: center;
            border: 1px solid #f9f9f9;
            background: #f9f9f9;
            height: 55px;
            line-height: 55px;
            display: inline-block;
            vertical-align: middle;
            font-size: .85rem;
            color: #666;
            font-weight: 300;
            width: 100%;
            height: 40px;
            line-height: 38px;
            border-radius: 4px;
            cursor: pointer;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box
        }

        .rsvp-modal-inner .radio input:checked+label {
            color: #aaa;
            font-weight: 300;
            width: 100%;
            font-weight: 500
        }

        .rsvp-modal-inner .radio input:checked+label.black {
            color: #fff;
            background: var(--secondary-color);
            border: 1px solid var(--secondary-color)
        }

        .rsvp-modal-inner .radio input:checked+label.blue {
            color: #689ef7;
            background: #fff;
            border: 1px solid #689ef7
        }

        .rsvp-modal-inner .radio input:checked+label.blue-fill {
            color: #fff;
            background: #80a6e5;
            border: 1px solid #80a6e5
        }

        .rsvp-modal-inner .radio input:checked+label.red {
            color: #f76868;
            background: #fff;
            border: 1px solid #f76868
        }

        .rsvp-modal-inner .radio input:checked+label.red-fill {
            color: #fff;
            background: #e49caa;
            border: 1px solid #e49caa
        }

        .rsvp-modal-inner .req {
            display: inline-block;
            vertical-align: middle;
            width: 4px;
            height: 4px;
            background: #f76767;
            border-radius: 50%;
            margin-left: 4px;
            position: relative;
            top: -8px
        }

        .rsvp-modal-inner .btn-submit {
            display: block;
            margin-top: 24px;
            height: 48px;
            line-height: 48px;
            background: #000;
            background: var(--secondary-color);
            border-radius: 4px;
            font-size: .9rem;
            font-weight: 300;
            color: #fff;
            cursor: pointer;
            text-align: center
        }

        .rsvp-privacy-box {
            padding: 0 4px;
            font-size: 12px;
            margin-top: 24px
        }

        .rsvp-privacy-box .title {
            font-size: 13px;
            line-height: 16px;
            font-weight: 600
        }

        .rsvp-privacy-box .desc {
            line-height: 18px;
            margin-top: 4px;
            color: #aaa
        }

        .rsvp-privacy-box input[type=checkbox] {
            position: relative;
            top: -.5px;
            width: 16px;
            height: 16px;
            color: var(--secondary-color);
            vertical-align: middle;
            background: none;
            border: 0;
            outline: 0;
            flex-grow: 0;
            border-radius: 20%;
            background-color: #fff;
            transition: background .3s;
            cursor: pointer;
            margin: 0 4px 0 0;
            appearance: none;
            -webkit-appearance: none
        }

        .rsvp-privacy-box input[type=checkbox]:before {
            content: "";
            color: transparent;
            display: block;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            border: 0;
            background-color: transparent;
            background-size: contain;
            box-shadow: inset 0 0 0 1px #666
        }

        .rsvp-privacy-box input[type=checkbox]:checked {
            background-color: currentcolor
        }

        .rsvp-privacy-box input[type=checkbox]:checked:before {
            box-shadow: none;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E%3C/svg%3E")
        }

        .rsvp-privacy-box input[type=checkbox]::-ms-check {
            content: "";
            color: transparent;
            display: block;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            border: 0;
            background-color: transparent;
            background-size: contain;
            box-shadow: inset 0 0 0 1px #ccd3d8
        }

        .rsvp-privacy-box input[type=checkbox]:checked::-ms-check {
            box-shadow: none;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E%3C/svg%3E")
        }

        .popup-dialog {
            border-radius: 12px
        }

        .popup-modal-wrap {
            display: flex;
            text-align: center;
            background: #fff;
            font-size: 1rem;
            color: #544f4d
        }

        .popup-modal-wrap svg {
            position: relative;
            top: -1px;
            width: .8rem;
            height: .8rem;
            vertical-align: middle;
            margin-right: 2px
        }

        .popup-modal-wrap .btn-close {
            position: absolute;
            right: 0;
            top: 8px;
            padding: 0 16px;
            cursor: pointer
        }

        .popup-modal-wrap .btn-close svg {
            width: 12px;
            height: 12px
        }

        .popup-modal-inner {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 39px 20px 23px;
            font-size: .9rem;
            line-height: 1.6rem
        }

        .popup-modal-inner .title {
            font-size: 1rem;
            font-weight: 700
        }

        .popup-modal-inner .content {
            margin-top: 16px
        }

        .popup-modal-inner .info {
            padding: 23px 0 31px 8px;
            margin-top: 23px;
            border-top: 1px dashed #ddd;
            font-size: .8rem;
            text-align: left;
            vertical-align: middle
        }

        .popup-modal-inner .info>div {
            display: flex;
            gap: 5px
        }

        .popup-modal-inner .info img {
            width: .9rem;
            height: .9rem;
            vertical-align: middle;
            position: relative;
            top: -1px
        }

        .popup-modal-inner .btn-submit {
            display: block;
            height: 48px;
            line-height: 48px;
            background: #000;
            background: var(--secondary-color);
            border-radius: 4px;
            font-size: .9rem;
            font-weight: 300;
            color: #fff;
            cursor: pointer;
            text-align: center
        }

        .popup-modal-inner .skip-today {
            margin-top: 16px;
            color: #aaa;
            cursor: pointer
        }

        .popup-modal-inner .skip-today>div {
            display: inline-block;
            vertical-align: middle;
            font-size: 13px
        }

        .popup-dialog .check {
            border-radius: 32px;
            padding: 4px;
            margin-right: 4px;
            width: 8px;
            height: 8px;
            background: #ddd;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E%3C/svg%3E");
            background-size: contain
        }
    /*</style>*/
    /*<style type="text/css">*/
        .account-wrap {
            margin: 1px 0;
            padding: 3rem 0
        }

        .account-wrap svg {
            width: 15px;
            height: 14px
        }

        .account-wrap>.title {
            position: relative;
            color: var(--primary-color);
            font-size: 1rem
        }

        .account-wrap>.subtitle {
            margin: 8px 1rem 0;
            font-size: .9rem;
            line-height: 1.6rem
        }

        .c-account {
            max-width: var(--account-width);
            margin: 2rem auto 0;
            font-size: .9rem
        }

        .c-account svg {
            width: 12px;
            height: 12px;
            margin-top: -6px
        }

        .c-account .title {
            position: relative;
            margin: 0 auto;
            padding: 4px 0;
            text-align: center;
            cursor: pointer;
            z-index: 999;
            background: var(--secondary-bg-color);
            color: #63463c
        }

        .c-account .title>.arrow {
            position: absolute;
            top: 6px;
            right: 18px;
            transform: rotate(0);
            transition-duration: .5s;
            transform-origin: center center
        }

        .c-account .title>.arrow.rotate {
            top: 3px;
            transform: rotate(180deg);
            transition-duration: .5s
        }

        .c-account .text {
            position: relative;
            overflow: hidden;
            transition: .5s ease-out;
            font-size: min(.85rem, 16px);
            border-top: 1px solid #eee;
            margin-top: -1px
        }

        .c-account .text:first-child {
            border-top: 0
        }

        .c-account .text>.inner {
            padding: 10px;
            line-height: 26px;
            letter-spacing: 0;
            text-align: left;
            background: hsla(0, 0%, 100%, .4)
        }

        .c-account .btn-copy {
            top: 10px;
            border-radius: 2px;
            background: #f2efed;
            color: #e56623
        }

        .c-account .btn-copy,
        .c-account .btn-kakaopay {
            position: absolute;
            right: 10px;
            width: 60px;
            cursor: pointer;
            padding: 0 4px;
            font-size: 12px;
            font-weight: 600;
            line-height: 24px
        }

        .c-account .btn-kakaopay {
            top: 38px;
            background: #fbdf1d;
            border-radius: 4px
        }

        .c-account .btn-kakaopay>img {
            height: 12px;
            vertical-align: middle
        }

        .c-account .item {
            margin-top: 8px
        }

        .c-account .item:first-child {
            border: 0
        }
    /*</style>*/
    /*<style type="text/css">*/
        .guestbook-wrap {
            margin: 1px 0;
            padding: 3rem 0
        }

        .guestbook-wrap .m-title {
            margin-bottom: 40px
        }
    /*</style>*/
    /*<style type="text/css">*/
        .c-guestbook {
            margin: 0 var(--guestbook-margin-lr);
            border-left: 0;
            border-right: 0;
            font-size: .85rem
        }

        .c-guestbook>.writing {
            margin-bottom: 10px
        }

        .c-guestbook>.writing>button {
            display: block;
            width: 100%;
            height: 2.5rem;
            background: var(--secondary-color);
            border: 0;
            border-radius: 4px;
            font-size: .85rem;
            font-weight: 400;
            line-height: 2.5rem;
            color: #fff;
            cursor: pointer;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .15)
        }

        .c-guestbook>.writing>button>svg {
            width: .7rem;
            height: .7rem;
            fill: #fff
        }

        .c-guestbook .comments {
            background: #fff;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .05)
        }

        .c-guestbook .item {
            position: relative;
            padding: .75rem 1rem;
            text-align: left;
            line-height: 1.5rem;
            border-bottom: 1px solid #eee
        }

        .c-guestbook .item.empty {
            background: #fdfdfd;
            text-align: center;
            color: #ccc;
            padding: 40px 0;
            font-size: .8rem
        }

        .c-guestbook .item.empty svg {
            width: 40px;
            height: 40px;
            fill: #ccc;
            display: block;
            margin: 0 auto 10px
        }

        .c-guestbook .item .name {
            font-weight: 700;
            margin-bottom: .25rem
        }

        .c-guestbook .item .date {
            color: #aaa;
            margin-right: 4px;
            font-size: 11px
        }

        .c-guestbook .item .text {
            line-height: 1.25rem
        }

        .c-guestbook .item .close {
            position: absolute;
            top: 1.2rem;
            right: 1rem;
            line-height: 0;
            text-align: center;
            cursor: pointer
        }

        .c-guestbook .item .close>.icon>svg {
            width: 8px;
            height: 8px;
            fill: #aaa
        }

        .c-guestbook .pagination .btn {
            background: #fff;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center
        }

        .pagination-number {
            color: #999
        }

        .pagination-active {
            color: var(--secondary-color);
            z-index: 94
        }

        .pagination svg {
            fill: #666
        }
    /*</style>*/
    /*<style type="text/css">*//*</style>*/
    /*<style type="text/css">*/
        .pagination {
            display: block;
            padding: 8px 0;
            text-align: center
        }

        .pagination-number {
            display: inline-block;
            width: 27px;
            height: 27px;
            line-height: 27px;
            margin: 0 3px;
            text-align: center;
            cursor: pointer;
            font-size: .85rem;
            z-index: 99
        }

        .pagination-btn-disabled {
            cursor: unset;
            color: #d1d1d1
        }

        .pagination-btn-disabled:hover {
            color: #d1d1d1
        }

        .pagination svg {
            width: 9px;
            height: 9px;
            padding: 0 4px;
            cursor: pointer
        }
    /*</style>*/
    /*<style type="text/css">*/
        .c-guestbook-header {
            padding: 16px 20px;
            font-weight: 500;
            font-size: 1.1rem;
            color: #000
        }

        .c-guestbook-header .btn-close {
            float: right;
            cursor: pointer;
            margin: -1px 0 0 16px
        }

        .c-guestbook-header .btn-close svg {
            width: 12px;
            height: 12px;
            vertical-align: middle
        }

        .c-guestbook-modal-wrap {
            display: flex;
            text-align: left;
            background: #fff;
            font-size: 1rem;
            color: #544f4d
        }

        .c-guestbook-modal-inner {
            display: flex;
            flex: 1;
            flex-direction: column
        }

        .c-guestbook-modal-inner table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%
        }

        .c-guestbook-modal-inner tr {
            border-top: 1px solid #eee
        }

        .c-guestbook-modal-inner th {
            padding: 0 0 0 20px;
            height: 60px;
            vertical-align: middle;
            font-size: .9rem;
            font-weight: 500;
            color: #989898
        }

        .c-guestbook-modal-inner td {
            padding: 0
        }

        .c-guestbook-modal-inner td input,
        .c-guestbook-modal-inner td textarea {
            border: none;
            padding: 0 10px;
            width: calc(100% - 20px);
            height: 40px;
            color: #000;
            font-size: 16px;
            font-family: var(--font-gothic);
            letter-spacing: var(--font-gothic-spacing);
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            border-radius: none;
            -webkit-border-radius: 0;
            box-sizing: border-box;
            vertical-align: top
        }

        .c-guestbook-modal-inner td textarea {
            width: calc(100% - 40px);
            height: 96px;
            margin: 20px;
            padding: 12px 16px;
            resize: vertical;
            background: #fcfcfc;
            line-height: 24px;
            border-radius: 5px;
            border: 1px solid #eee
        }

        .c-guestbook-modal-inner td input::placeholder,
        .c-guestbook-modal-inner td textarea::placeholder {
            color: #ccc;
            opacity: 1
        }

        .c-guestbook-modal-inner td input:-ms-input-placeholder,
        .c-guestbook-modal-inner td input::-ms-input-placeholder {
            color: #ccc
        }

        .c-guestbook-modal-inner .btn-submit {
            display: block;
            margin: 0;
            height: auto;
            line-height: 60px;
            background: var(--secondary-color);
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            text-align: center;
            border: 0
        }
    /*</style>*/
    /*<style type="text/css">*/
        .footer-wrap {
            margin-top: 60px;
            padding: 30px 0;
            background: var(--footer-bg-color);
            border-top: 1px solid #efefef;
            box-shadow: 0 -1px 8px rgba(0, 0, 0, .04)
        }

        .kakao-wrap {
            font-size: .8rem;
            line-height: 24px
        }

        .kakao-wrap .btn-kakao {
            width: 250px;
            margin: 0 auto;
            line-height: 2rem;
            cursor: pointer
        }

        .kakao-wrap .btn-kakao:first-child {
            margin: 0 auto
        }

        .kakao-wrap .left {
            flex: 1;
            text-align: left
        }

        .kakao-wrap .right {
            flex: 1;
            text-align: right
        }

        .kakao-wrap svg {
            margin: -1px 6px 0 0;
            width: 18px;
            height: 18px;
            vertical-align: middle
        }

        .copyright-wrap {
            margin-top: 12px;
            line-height: 22px;
            text-align: center
        }

        .copyright-wrap .company {
            color: #555;
            font-size: .9rem
        }

        .copyright-wrap .copyright {
            margin: 0 auto;
            width: 80%;
            min-width: 280px;
            font-size: 10px;
            color: rgba(0, 0, 0, .4);
            letter-spacing: .5px;
            font-family: Crimson Pro, serif
        }

        .copyright-wrap .brand {
            color: rgba(0, 0, 0, .7);
            cursor: pointer
        }
    /*</style>*/